/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

body{
    font-family: sans-serif;
    font-size: 14px;
}

/* Utils */

.def-wh{
    width: 70%;
}

.flx{
    display: flex;
}

.al-center{
    align-items: center;
}

.brd-dash{
    border: 2px dashed black;
}

.r-rev{
    flex-direction: row-reverse;
}

/* Header */

.header-bar{
    background-color: rgb(173,216,230);
    min-height: 50px;
    justify-content: center;
}

.header-nav{
    min-height: 30px;
    background-color: rgb(218,165,32);
}

.header-nav a{
    color: black;
    text-decoration: none;
    padding: 5px;
}

.header-logo, .header-login{
    flex-basis: 20%;
}

.header-link{
    flex-grow: 1;
    justify-content: center;
}

.header-login{
    justify-content: flex-end;
}

.header-jumbo{
    min-height: 300px;
    background-color: rgb(0,0,139);
    justify-content: center;
}

.jumbox{
    min-height: 250px;
    background-color: rgb(238,130,238);
    width: 50%;
}

/* Main */

.row{
    padding: 50px 0;
    justify-content: center;
}

.main-content{
    min-height: 300px;
}

.content-description{
    background-color: rgb(30,144,255);
    flex-grow: 1;
}

.content-pic{
    background-color: rgb(255,192,203);
    flex-basis: 40%;
}

.row:nth-child(even){
    background-color: rgb(211,211,211);
}

.big-pic{
    background-color: rgb(34,139,34);
    min-height: 600px;
}

/* Footer */

footer{
    background-color: rgb(35,39,42);
}

.footer-top{
    justify-content: center;
    padding: 5px 0 20px;
}

.footer-link{
    min-height: 400px;
}

.footer-social-link{
    background-color: rgb(240,128,128);
    flex-basis: 30%;
}

.footer-general-link{
    flex-grow: 1;
    background-color: rgb(32,178,170);
}

.footer-general-link div{
    border: 2px dashed white;
    width: 25%;
}

.footer-bottom{
    padding-top: 10px;
}
